// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$white: white;

body {
  background: $white; // Using this variable
}

.question-header {
  background: #FFFEE1;

}

.answer-header {
  background: #FEDBDB
}
